@inject OrchardCore.Settings.ISiteService SiteService
@{
    var site = await SiteService.GetSiteSettingsAsync();
}
<!DOCTYPE html>
<html lang="@site.Culture">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="author" content="" />
		<meta name="keywords" content="ekonomia, edukacja, przedsiębiorczość" />
		<meta name="description" content="Projekt LEM ma na celu wprowadzenie uczniów szkół średnich w podstawowe zagadnienia związane z ekonomią (pieniądz, handel, system bankowy, inflacja)." />
		<meta name="theme-color" content="#1d485b" />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@Instytut_Misesa" />
		<meta name="twitter:title" content="Lekcje Ekonomii dla Młodzieży" />
		<meta name="twitter:description" content="Edukacja | Przedsiębiorczość | Gospodarka" />
		<meta name="twitter:image" content="http://ekonomiadlamlodziezy.pl/images/lem-twitter-card.jpg" />

        <title>@RenderTitleSegments(site.SiteName, "before")</title>
        
        <!-- Bootstrap core CSS -->
        <link href="/KoLiber.LEM/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        
        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300i,400&amp;subset=latin-ext" />
        
        <!-- Custom styles for this template -->
        <link href="/KoLiber.LEM/css/style.css" rel="stylesheet" />
		
		<link rel="icon" sizes="192x192" href="/KoLiber.LEM/images/high-favicon.png" />
		<link rel="Shortcut icon" href="./favicon.ico"/>
    </head>
	
    <body id="page-top">

        @await RenderSectionAsync("Content", required: false)

        <!-- Footer -->
        @await RenderSectionAsync("Footer", required: false)

    </body>
</html>
